In [1]:
import pandas as pd

In [3]:
Final_data = pd.read_csv ("Man_data.csv")
Final_data.head()

,Unnamed: 0,Unnamed: 0.1,CropsM,TonnesM,US$1000M,TempChangeM,YearR,CropsRM,CropsSB,TonnesSB,...,TonnesW,US$1000W,TempChangeW,CropsRW,US$1000MSQ,US$1000MCUBE,US$1000SBSQ,US$1000SBCUBE,US$1000WSQRT,US$1000WLOG
0,0,0,Maize,239548580,17247498,0.755,1,1,Soybeans,72223460,...,62567284,5693623,0.755,3,297476187260004,2525092323289120744,150748989328144,6219874612124932672,2386.131388,15.554857
1,1,1,Maize,251853900,18385335,1.000,2,1,Soybeans,75055290,...,60639376,5821380,1.000,3,338020543062225,-1931831759186424217,157106996898289,-4585910833490395575,2412.753614,15.577048
2,2,2,Maize,241376650,18827379,0.784,3,1,Soybeans,78671470,...,52999932,5405993,0.784,3,354470200009641,-3976554895542924053,160430266535449,2885073868465649283,2325.079138,15.503019
3,3,3,Maize,227766880,20726786,0.953,4,1,Soybeans,75010030,...,43703968,5725220,0.953,3,429599657889796,-5557212846700154872,231862625345296,7252425108810264000,2392.743196,15.560392
4,4,4,Maize,256229020,24341757,0.992,5,1,Soybeans,66782720,...,63803256,7975407,0.992,3,592521133847049,-2348408171527438619,325129005819556,-3554918419279446184,2824.076309,15.891873

In [4]:
Final_data.drop(['Unnamed: 0', 'Unnamed: 0.1', 'US$1000MSQ', 'US$1000SBSQ', 'US$1000WSQRT'], axis = 1, inplace=True)

In [5]:
Final_data.head()

,CropsM,TonnesM,US$1000M,TempChangeM,YearR,CropsRM,CropsSB,TonnesSB,US$1000SB,TempChangeSB,CropsRSB,CropsW,Year,TonnesW,US$1000W,TempChangeW,CropsRW,US$1000MCUBE,US$1000SBCUBE,US$1000WLOG
0,Maize,239548580,17247498,0.755,1,1,Soybeans,72223460,12277988,0.755,2,Wheat,1999,62567284,5693623,0.755,3,2525092323289120744,6219874612124932672,15.554857
1,Maize,251853900,18385335,1.000,2,1,Soybeans,75055290,12534233,1.000,2,Wheat,2000,60639376,5821380,1.000,3,-1931831759186424217,-4585910833490395575,15.577048
2,Maize,241376650,18827379,0.784,3,1,Soybeans,78671470,12666107,0.784,2,Wheat,2001,52999932,5405993,0.784,3,-3976554895542924053,2885073868465649283,15.503019
3,Maize,227766880,20726786,0.953,4,1,Soybeans,75010030,15227036,0.953,2,Wheat,2002,43703968,5725220,0.953,3,-5557212846700154872,7252425108810264000,15.560392
4,Maize,256229020,24341757,0.992,5,1,Soybeans,66782720,18031334,0.992,2,Wheat,2003,63803256,7975407,0.992,3,-2348408171527438619,-3554918419279446184,15.891873

In [6]:
Final_data.to_csv('Final_data.csv')