In [1]:
import pandas as pd

In [2]:
Recode_data = pd.read_csv("../Data/Normalized Datasets/NormalizedMergedData.csv")

In [3]:
Recode_data.head()

      Crops  Year  Value in Tonnes  Value in US$1000  Temperature Change
0     Maize  1999      239548580.0        17247498.0               0.755
1  Soybeans  1999       72223460.0        12277988.0               0.755
2     Wheat  1999       62567284.0         5693623.0               0.755
3     Maize  2000      251853900.0        18385335.0               1.000
4  Soybeans  2000       75055290.0        12534233.0               1.000

In [4]:
##Change column names with spaces

In [5]:
Recode_data.rename(columns = {'Value in Tonnes' : 'Tonnes', 'Value in US$1000' : 'US$1000', 'Temperature Change': 'TempChange'}, inplace = True)

In [6]:
Recode_data.head()

      Crops  Year       Tonnes     US$1000  TempChange
0     Maize  1999  239548580.0  17247498.0       0.755
1  Soybeans  1999   72223460.0  12277988.0       0.755
2     Wheat  1999   62567284.0   5693623.0       0.755
3     Maize  2000  251853900.0  18385335.0       1.000
4  Soybeans  2000   75055290.0  12534233.0       1.000

In [7]:
##Data Types

In [8]:
Recode_data.dtypes

Crops          object
Year            int64
Tonnes        float64
US$1000       float64
TempChange    float64
dtype: object

In [9]:
##Need to Recode Variables

In [10]:
#Recode Year

In [11]:
Recode_data['Year'].unique()

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

In [12]:
def year_recode (series):
    if series == 1999:
        return 1
    if series == 2000:
        return 2
    if series == 2001:
        return 3
    if series == 2002:
        return 4
    if series == 2003:
        return 5
    if series == 2004:
        return 6
    if series == 2005:
        return 7
    if series == 2006:
        return 8
    if series == 2007:
        return 9
    if series == 2008:
        return 10
    if series == 2009:
        return 11
    if series == 2010:
        return 12
    if series == 2011:
        return 13
    if series == 2012:
        return 14
    if series == 2013:
        return 15
    if series == 2014:
        return 16
    if series == 2015:
        return 17
    if series == 2016:
        return 18
    if series == 2017:
        return 19
    if series == 2018:
        return 20
    if series == 2019:        
        return 21

In [13]:
Recode_data['YearR'] = Recode_data['Year'].apply(year_recode)

In [14]:
Recode_data.head(10)

      Crops  Year       Tonnes     US$1000  TempChange  YearR
0     Maize  1999  239548580.0  17247498.0       0.755      1
1  Soybeans  1999   72223460.0  12277988.0       0.755      1
2     Wheat  1999   62567284.0   5693623.0       0.755      1
3     Maize  2000  251853900.0  18385335.0       1.000      2
4  Soybeans  2000   75055290.0  12534233.0       1.000      2
5     Wheat  2000   60639376.0   5821380.0       1.000      2
6     Maize  2001  241376650.0  18827379.0       0.784      3
7  Soybeans  2001   78671470.0  12666107.0       0.784      3
8     Wheat  2001   52999932.0   5405993.0       0.784      3
9     Maize  2002  227766880.0  20726786.0       0.953      4

In [15]:
#Recode Crops

In [16]:
Recode_data['Crops'].unique()

array(['Maize', 'Soybeans', 'Wheat'], dtype=object)

In [17]:
def Crops_recode (series):
    if series == 'Maize':
        return 1
    if series == 'Soybeans':
        return 2
    if series == 'Wheat':
        return 3

In [18]:
Recode_data['CropsR'] = Recode_data['Crops'].apply(Crops_recode)

In [19]:
Recode_data.dtypes

Crops          object
Year            int64
Tonnes        float64
US$1000       float64
TempChange    float64
YearR           int64
CropsR          int64
dtype: object

In [21]:
##Recode Tonnes as integer

In [22]:
Recode_data['Tonnes'] = Recode_data['Tonnes'].astype('int64')

In [23]:
Recode_data.head()

      Crops  Year     Tonnes     US$1000  TempChange  YearR  CropsR
0     Maize  1999  239548580  17247498.0       0.755      1       1
1  Soybeans  1999   72223460  12277988.0       0.755      1       2
2     Wheat  1999   62567284   5693623.0       0.755      1       3
3     Maize  2000  251853900  18385335.0       1.000      2       1
4  Soybeans  2000   75055290  12534233.0       1.000      2       2

In [24]:
Recode_data.dtypes

Crops          object
Year            int64
Tonnes          int64
US$1000       float64
TempChange    float64
YearR           int64
CropsR          int64
dtype: object

In [25]:
##Recode US$1000

In [26]:
Recode_data['US$1000'] = Recode_data['US$1000'].astype('int64')

In [27]:
Recode_data.dtypes

Crops          object
Year            int64
Tonnes          int64
US$1000         int64
TempChange    float64
YearR           int64
CropsR          int64
dtype: object

In [28]:
Recode_data.to_csv('Recode_data.csv')